:root {
    --primary: #1a2238;
    --secondary: #ff6a3d;
    --tertiary: #f0cc48;
    --alt-bg: #efefef;

    --header-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#home,
#experience,
#projects,
#skills {
    scroll-margin-top: var(--header-height);
}

#header > *,
#home > * {
    max-width: 1200px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: var(--header-height);
}

h2 {
    font-weight: 900;
    font-size: 32px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}


