:root {
    --primary: #1a2238;
    --secondary: #ff8a66;
    --secondary: #ff6a3d;
    /* --secondary: #ff6333; */
    --tertiary: #f0cc48;
    --background-lines-color: #0a0d15;
    --alt-bg: #efefef;
    --transparent-bg: rgba(255, 255, 255, 0.9);

    --header-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#home,
#experience,
#projects,
#skills {
    scroll-margin-top: var(--header-height);
}

#header > *,
#home > * {
    max-width: 1200px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: var(--header-height);
}

h2 {
    font-weight: 900;
    font-size: 32px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

h4 {
    font-weight: 500;
    font-size: 18px;
}

@keyframes movingBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.content {
    animation: movingBackground 60s ease-in-out infinite;
}

